{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
   <div class="features">
    <h3>Добро пожаловать на сайт магазина <i>Eleck</i></h3>
    <img src="{% static 'main/img/p1.jpg' %}" alt="img" height="450" width="1000">
    <p>Этот магазин основан в далёком 1864 ом. году инженером Томасом Фоделем. Томас был обычным рабочим на заводе по изготовлению электронных
        чипов. В 21 год Томас решил попробовать собрать свой первый собственный чип, после чего проверить на что он способен.<br>
        После успешного проэкта Томас решил что хочет изобретать и продавать электронику. В 1890 ом. году он открый свой первый магазин.
        На данный момент уже насчитываеться более 1000 магазинов по все Европе.
        В нашем магазине вы можете купить различную электронику на любой вкус, качественную и главное по доступной цене.
    </p>
    <a href="{% url 'about' %}"><button class="btn btn-primary">Подробнее о магазине</button></a>
   </div>

{% endblock %}
