{% extends 'main/base.html' %}

{% block title %}{{ wash.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ wash.title }}</h1>
        <p>{{ wash.date }}</p>
        <p>{{ wash.full_text }}</p>
        <a href="{% url 'wash-delete' wash.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'wash-update' wash.id %}" class="btn btn-success">Редактировать</a><br>
        <a href="{% url 'wash_home' %}" class="btn btn-info">Назад</a>
    </div>
{% endblock %}